sopo/bin
sopo/.settings
.classpath
sopo-example/.settings
sopo-example/src/WebRoot/derbyDB
sopo-example/src/WebRoot/WEB-INF/lib
sopo-example/src/WebRoot/WEB-INF/classes
sopo-example/src/main/webapp/WEB-INF/lib
sopo-example/src/main/webapp/WEB-INF/classes
sopo/sopo.iml
sopo-example/sopo-example.iml
